@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro|Raleway:400,700);
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}
html,
body {
  height: 100%;
  background: #e0dced;
}
a {
  color: #ee3c7e;
}
a:hover {
  text-decoration: underline;
  color: #e31461;
}
#container {
  position: relative;
  min-height: 100%;
}
.contain-to-grid {
  border-bottom: 1px solid #a59ac9;
  background: #e0dced;
}
.contain-to-grid .top-bar {
  margin-bottom: 0;
  height: auto;
  background: none;
}
.contain-to-grid .top-bar .name h1 {
  font-size: 1.4em;
}
.contain-to-grid .top-bar .name h1 a {
  padding: 20px 0 17px;
  border-bottom: 3px solid transparent;
  font-weight: normal;
  color: #8779b7;
}
.contain-to-grid .top-bar .name h1 a:hover {
  border-bottom: 3px solid #a59ac9;
  text-decoration: none;
}
.contain-to-grid .top-bar .name h1 strong {
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.contain-to-grid .top-bar .top-bar-section ul,
.contain-to-grid .top-bar .top-bar-section a,
.contain-to-grid .top-bar .top-bar-section li > a {
  background: none;
}
.contain-to-grid .top-bar .top-bar-section a {
  margin: 0 25px 0 25px;
  padding: 20px 0 17px;
  border-bottom: 3px solid transparent;
  width: auto;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0 1px 0 #fff;
  color: #ee3c7e;
}
.contain-to-grid .top-bar .top-bar-section a:hover {
  border-bottom: 3px solid #a59ac9;
  text-decoration: none;
  color: #e31461;
}
.bar {
  margin-bottom: 20px;
  border-top: 1px solid #fff;
}
.bar div {
  height: 20px;
}
.bar .one {
  background-color: #9c90c4;
}
.bar .two {
  background-color: #a59ac9;
}
.bar .three {
  background-color: #c3bbdb;
}
.bar .four {
  background-color: #d1cce4;
}
.bar .five {
  background-color: #e0dced;
}
.side-nav {
  font-size: 1.2em;
}
.side-nav li {
  list-style: none;
}
.side-nav li a {
  padding: 2px 20px;
  color: #8779b7;
}
.side-nav ul {
  font-size: .9em;
}
.side-nav ul a {
  color: #ee3c7e;
}
.button {
  border: 0;
  border-bottom: 6px solid #8779b7;
  font-weight: normal;
  background: #a59ac9;
}
.button:hover {
  text-decoration: none;
  background: #9689c0;
}
#site-content {
  padding: 40px 0;
  background: #eee;
}
.content h1,
.content h2,
.content h3 {
  margin: 1em 0 .5em;
  color: #a59ac9;
}
.content h4,
.content h5,
.content h6 {
  margin: 1em 0 .5em;
  font-size: 1em;
  font-weight: bold;
}
.content h1:first-child,
.content h2:first-child,
.content h3:first-child,
.content h4:first-child,
.content h5:first-child,
.content h6:first-child {
  margin-top: .2em;
}
#site-footer {
  margin: 20px 0 0;
  padding: 20px 0;
}
#site-footer p {
  font-size: .8em;
}
