/* Drive Theme */
/* Original theme - https://github.com/lsjroberts/drive-colour-scheme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.drive-comment, pre .comment, pre .title {
    /*color: #999999;*/
}

.drive-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    /*color: #f2777a;*/
}

.drive-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    /*color: #f99157;*/
}

.drive-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    /*color: #ffcc66;*/
}

.drive-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    /*color: #99cc99;*/
}

.drive-aqua, pre .css .hexcolor {
    /*color: #66cccc;*/
}

.drive-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    /*color: #6699cc;*/
}

.drive-purple, pre .keyword, pre .javascript .function {
    /*color: #cc99cc;*/
}


pre .comment {
    color: #646E70;
}

pre .variable {
    color: #f27798;
    /*background: #1B2B33;*/
}

pre .number, pre .params .variable, pre .constant {
    color: #F99157;
    /*background: #1C2D2D;*/
}

pre .function .title {
    color: #19b6d8;
    /*background: #083039;*/
}

pre .function .params {
    color: #e24297;
}

pre .function .params .variable {
    color: #99B;
}

pre .class .title {
    color: #e24297;
    /*background: #2E293D;*/
}

pre .string {
    color: #FFBBBB;
    /*background: #1D3136;*/
}

pre .keyword {
    color: #CC99CC;
    /*background: #182E38;*/
}

pre span {
    /*display: inline-block;*/
    margin: -5px 0;
}

code {
    padding: .2em .6em;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.6em;
    color: #99B;
    background: #062329;
}

pre code {
    display: block;
    margin: 1.4em 0;
    padding: 1.8em 1.4em;
    font-size: 1em;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
    opacity: 0.5;
}
